<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="logPath" source="log.path" defaultValue="./logs"/>
    <springProperty scope="context" name="logLevel" source="log.level" defaultValue="info"/>
    <property name="LOG_PATH" value="${logPath}"/>
    <property name="LOG_LEVEL" value="${logLevel}"/>
    <appender name="S" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/flood.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] [%logger{80}] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/flood.log-%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] [%logger{80}] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fenbi.kids.api.KidsApiBenchmarkLogger" level="INFO" additivity="false">
        <appender-ref ref="BenchmarkAppender"/>
    </logger>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="S"/>
        <appender-ref ref="consoleLog"/>
    </root>
</configuration>