<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tian.cloud.service.dao.mapper.CommonTypeMapper" >
    <resultMap id="BaseResultMap" type="com.tian.cloud.service.dao.entity.CommonType" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="common_type_enum" property="commonTypeEnum" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, status, common_type_enum, create_time, update_time
    </sql>

    <insert id="saveBatch" parameterType="list">
        insert into common_type
        (name,status,common_type_enum,create_time, update_time)
        values
        <foreach collection="saveList" item="a" separator=",">
            (#{a.name},#{a.status},#{a.commonTypeEnum},#{a.createTime},#{a.updateTime})
        </foreach>
    </insert>
    <update id="update" parameterType="com.tian.cloud.service.dao.entity.CommonType">
        update common_type
        set
        name = #{name},
        status = #{status},
        common_type_enum = #{commonTypeEnum},
        update_time = #{updateTime}
        where
        id = #{id}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from common_type
        where id = #{id}
    </select>

    <select id="selectByTypeAndStatus" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from common_type
        <where>
            common_type_enum = #{commonTypeEnum}
            and
            status = #{status}
        </where>
    </select>

    <select id="selectAllByStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from common_type
        where status = #{status}
    </select>
</mapper>