<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tian.cloud.service.dao.mapper.CompanyMapper" >
    <resultMap id="BaseResultMap" type="com.tian.cloud.service.dao.entity.Company" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="post_code" property="postCode" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="record_person" property="recordPerson" jdbcType="VARCHAR" />
        <result column="record_person_phone" property="recordPersonPhone" jdbcType="VARCHAR" />
        <result column="check_person" property="checkPerson" jdbcType="VARCHAR" />
        <result column="check_person_phone" property="checkPersonPhone" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, status, create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from company
        where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from company
    </select>

    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from company
        <where>
            name like CONCAT('%', #{companyName}, '%')
        </where>
    </select>

    <update id="updateCompany" parameterType="com.tian.cloud.service.dao.entity.Company">
        update
        company
        name = #{name},
        address = #{address},
        post_code = #{postCode},
        email = #{email},
        record_person = #{recordPerson},
        record_person_phone = #{recordPersonPhone},
        check_person = #{chackPerson},
        check_person_phone = #{checkPersonPhone},
        status = #{status},
        update_time = #{updateTime}
        <where>
            id = #{id}
        </where>
    </update>
</mapper>