<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tian.cloud.service.dao.mapper.MessageMapper" >
    <resultMap id="BaseResultMap" type="com.tian.cloud.service.dao.entity.Message" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="message_type" property="messageType" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, company_id, message_type, status, title, content, create_time, update_time
    </sql>

    <insert id="save" parameterType="com.tian.cloud.service.dao.entity.Message" useGeneratedKeys="true" keyProperty="id">
        insert into `message`
        (company_id, message_type, status, title, content, create_time, update_time)
        values
        (#{companyId},#{messageType},#{status},#{title},#{content},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.tian.cloud.service.dao.entity.Message">
        update `message`
        set
        company_id = #{companyId},
        message_type = #{messageType},
        status = #{status},
        title = #{title},
        content = #{content},
        update_time = #{updateTime}
        where
        id = #{id}
    </update>

    <select id="search" parameterType="com.tian.cloud.service.controller.request.CommonSearchReq" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        <where>
            <if test="keyword != null">
                (
                title like CONCAT('%', #{keyword}, '%')
                or
                content like CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="startId != null">
                and <![CDATA[ id < #{startId} ]]>
            </if>
            <if test="startTime != null">
                and create_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and <![CDATA[ create_time <= #{endTime} ]]>
            </if>
        </where>
        order by id desc
        <if test="len != null">
            limit #{len}
        </if>
    </select>

    <select id="getById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from message
        where id = #{id}
    </select>
</mapper>