<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tian.cloud.service.dao.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.tian.cloud.service.dao.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="position_id" property="positionId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="work_phone" property="workPhone" jdbcType="VARCHAR"/>
        <result column="fax" property="fax" jdbcType="VARCHAR"/>
        <result column="org_code" property="orgCode" jdbcType="INTEGER"/>
        <result column="org_title" property="orgTitle" jdbcType="VARCHAR" />
        <result column="flood_title" property="floodTitle" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, company_id, position_id, status, user_name, user_phone, work_phone, fax,org_code, org_title, create_time, update_time,flood_title
    </sql>

    <select id="getUserByCompany" parameterType="Object" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where
        company_id = #{companyId} and status = 1
    </select>

    <select id="getAllUser" parameterType="Object" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where
        status = 1
    </select>

    <insert id="insertBatch" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into `user`
        (company_id, position_id, status, user_name, user_phone, work_phone, fax,org_code, org_title, create_time, update_time, flood_title)
        values
        <foreach collection="userList" item="user" separator=",">
            (#{user.companyId},#{user.positionId},#{user.status},#{user.userName},#{user.userPhone},#{user.workPhone},#{user.fax},#{user.orgCode},#{user.orgTitle}, #{user.createTime},#{user.updateTime},#{user.floodTitle})
        </foreach>
    </insert>

    <update id="update" parameterType="com.tian.cloud.service.dao.entity.User">
        update `user`
        set
        company_id = #{companyId},
        position_id = #{positionId},
        status = #{status},
        user_name = #{userName},
        user_phone = #{userPhone},
        work_phone = #{workPhone},
        fax = #{fax},
        org_code = #{orgCode},
        org_title = #{orgTitle},
        update_time = #{updateTime},
        flood_title = #{floodTitle}
        where
        id = #{id}
    </update>
</mapper>